<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from cdn1.crumina.net/html-seosight/36_slider-with-photo.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 18 Aug 2017 12:43:52 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IT PROSPECT | Booster votre business</title>
    <meta name="Content-Type" content="UTF-8">
    <meta name="Description" content="IT-PROSPECT est une société spécialisée dans l’édition des logiciels afin d’assurer le bon fonctionnement des grandes/moyennes compagnies, Nous assurons la conception, le développement et la commercialisation de progiciels.">
    <meta name="Keywords" content="Développement, Satisfaction clients, KPI, Indicateurs, Répondants, Costumer, Feedback management, Solution web, mobile, statistique, études continue, content, promoteur, détracteur, neutre,review, avis client, retour, alerte, mauvaise longue, fidéliser client, satisfaite client, améliorer affaire, Conseil Marketing, formation spécifique ">
    <meta name="Copyright" content="IT-PROSPECT">
    <meta name="Author" content="IT PROSPECT">
    <meta name="Identifier-Url" content="https://www.it-prospect.com">
    <meta name="Reply-To" content="contact@it-prospect.com">
    <meta name="Revisit-After" content="1 days">
    <meta name="Robots" content="all">
    <meta name="Rating" content="general">
    <meta name="Distribution" content="global">
    <meta name="Geography" content="tunisie">
    <meta name="Category" content="software">

    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <link rel="stylesheet" type="text/css" href="css/crumina-fonts.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/grid.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/blocks.css">
    <link rel="stylesheet" type="text/css" href="css/layouts.css">
    <link rel="stylesheet" type="text/css" href="css/modules.css">
    <link rel="stylesheet" type="text/css" href="css/widgets-styles.css">


    <!--Plugins styles-->

    <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="css/primary-menu.css">
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">

    <!--External fonts-->

    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
</head>
<body class=" ">

<!-- Header -->

<header class="header" id="site-header">

    <div class="container">
        <div class="header-content-wrapper">
            <div class="logo">
                <a href="/" class="full-block-link"></a>
                <div class="logo-text">
                    <img src="img/itprospect.png" alt="IT-PROSPECT">
                    <div class="logo-sub-title">Digital Solutions</div>
                </div>
            </div>
            <nav class="primary-menu primary-menu-responsive">
                <a href='javascript:void(0)' id="menu-icon-trigger" class="menu-icon-trigger showhide">
                    <span class="mob-menu--title">Menu</span>
                    <span id="menu-icon-wrapper" class="menu-icon-wrapper" style="visibility: visible">
                        <svg width="1000px" height="1000px">
                            <path id="pathD" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
                            <path id="pathE" d="M 300 500 L 700 500"></path>
                            <path id="pathF" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
                        </svg>
                    </span>
                </a>

                <!-- menu-icon-wrapper -->

                <ul class="primary-menu-menu">
                    <li class="<?= $_SERVER['REQUEST_URI'] == '/' ? 'active': ''?>">
                        <a href="/">Accueil</a>
                    </li>
                    <li class="<?= $_SERVER['REQUEST_URI'] == '/studies' ? 'active': ''?>">
                        <a href="/studies">Nos Études</a>
                    </li>
                    <li class="<?= $_SERVER['REQUEST_URI'] == '/services' ? 'active': ''?>">
                        <a href="/services">Nos Services</a>
                    </li>
                    <li class="<?= $_SERVER['REQUEST_URI'] == '/sectors' ? 'active': ''?>">
                        <a href="/sectors">Secteurs</a>
                    </li>
                    <li class="<?= $_SERVER['REQUEST_URI'] == '/statflow' ? 'active': ''?>">
                        <a href="/statflow">StatFlow</a>
                    </li>
                    <li class="<?= $_SERVER['REQUEST_URI'] == '/contacts' ? 'active': ''?>">
                        <a href="/contacts">Contacts</a>
                    </li>
                </ul>
            </nav>
            <div class="user-menu open-overlay">
                <a href="#" title="Demande de devis" class="user-menu-content js-open-aside">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="header-spacer"></div>
<!-- ... End Header -->

<!-- Right-menu -->

<div class="mCustomScrollbar" data-mcs-theme="dark">
    <div class="popup right-menu">
        <div class="right-menu-wrap">
            <div class="user-menu-close js-close-aside">
                <a href="#" class="user-menu-content  js-clode-aside">
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div style="text-align: center; margin-bottom: 20px">
                <img src="img/itprospect.png" alt="IT Prospect">
            </div>
            <p class="text">Cher client, <br/> Prenez quelques minutes pour remplir ce formulaire, ceci nous permettra de vous fournir les offres les plus adaptées à vos attentes.</p>
        </div>

        <div class="widget login">
            <h4 class="login-title" style="text-align: center">DEMANDE DE DEVIS</h4>
            <form class="quote-form" action="/quote" method="post">
                <input required class="name small input-standard-grey" name="name" placeholder="Votre Nom Complet" type="text"/>
                <input required class="email small input-standard-grey" name="email" placeholder="Votre Email" type="email"/>
                <input class="tel small input-standard-grey" name ="phone" placeholder="Votre Numéro Téléphone" type="text"/>
                <select class="nice-select" id="service" name="service">
                    <optgroup label="Logiciel" data-i="1" >
                        <option value="statflow">StatFlow</option>
                        <option value="survey">Enquete en ligne</option>
                    </optgroup>
                    <optgroup label="Développement" data-i="2">
                        <option value="site">Site Internet</option>
                        <option value="appWeb">Application Web</option>
                        <option value="appMobile">Application Mobile</option>
                        <option value="game">Jeux</option>
                    </optgroup>
                    <optgroup label="Etudes" data-i="3">
                        <option value="sondage">Sondage</option>
                        <option value="dataMining">Data Mining</option>
                        <option value="etudeSpec">Etude spécifique</option>
                    </optgroup>
                    <optgroup label="Formation" data-i="4">
                        <option value="formationAgile">Formation Agile</option>
                        <option value="formationPhp">Formation PHP</option>
                        <option value="formationStat">Formation Statistique</option>
                    </optgroup>
                    <option value="0" selected data-display="Choisir Un Service">Autre</option>
                </select>
                <div id="statflow-block" style="display: none;">
                    <select name="statflow-sector">
                        <option value="1">Banque/Assurance</option>
                        <option value="2">Automobile</option>
                        <option value="3">Restauration</option>
                        <option value="4">Hôtellerie</option>
                        <option value="5">Boutique</option>
                        <option value="6">Associations</option>
                        <option value="7">Education</option>
                        <option value="8">Grande Consommation</option>
                        <option value="9">Politique</option>
                        <option value="10">Média</option>
                        <option value="11">Tourisme</option>
                        <option value="12">Transports</option>
                        <option value="13">Santé</option>
                        <option value="0" selected data-display="Secteur d'activité">Autre</option>
                    </select>
                    <input name="agenceNumber" type="number" class="small input-standard-grey" pattern="^[0-9]*$" placeholder="Nombre des points (Agences)" />
                    <select name="statflow-sendFlow">
                        <option value="1">100 - 1000</option>
                        <option value="2">1000 - 4000</option>
                        <option value="3">4000 - 10000</option>
                        <option value="4">10000 - 40000</option>
                        <option value="0" selected data-display="Flux d'envois/mois">Je ne sais pas</option>
                    </select>
                    <select name="statflow-sendType">
                        <option value="1">Email</option>
                        <option value="2">Sms</option>
                        <option value="3">Appel téléphonique</option>
                        <option value="4">Tablette</option>
                        <option value="5">Integration sur un site web</option>
                        <option value="0" selected data-display="Méthode d'envoi">Autre</option>

                    </select>
                    <select name="sendFrequency">
                        <option value="1">Quotidien</option>
                        <option value="2">Hebdomadaire</option>
                        <option value="3">Mensuel</option>
                        <option value="4">Annuel</option>
                        <option value="0" selected data-display="Fréquence d'envoi">Autre</option>
                    </select>
                    <select name="crm">
                        <option value="1">Oui</option>
                        <option value="2">Non</option>
                        <option value="0" selected data-display="Avez-vous un CRM">Qu'est ce qu'un CRM?</option>
                    </select>
                </div>
                <div id="survey-block" style="display: none;">
                    <select name="survey-sector">
                        <option value="1">Banque/Assurance</option>
                        <option value="2">Automobile</option>
                        <option value="3">Restauration</option>
                        <option value="4">Hôtellerie</option>
                        <option value="5">Boutique</option>
                        <option value="6">Associations</option>
                        <option value="7">Education</option>
                        <option value="8">Grande Consommation</option>
                        <option value="9">Politique</option>
                        <option value="10">Média</option>
                        <option value="11">Tourisme</option>
                        <option value="12">Transports</option>
                        <option value="13">Santé</option>
                        <option value="0" selected data-display="Secteur d'activité">Autre</option>
                    </select>
                    <select name="survey-sendFlow">
                        <option value="1">100 - 1000</option>
                        <option value="2">1000 - 4000</option>
                        <option value="3">4000 - 10000</option>
                        <option value="4">10000 - 40000</option>
                        <option value="0" selected data-display="Flux d'envois/mois">Je ne sais pas</option>
                    </select>
                    <select name="period">
                        <option value="1">Une semaine</option>
                        <option value="2">Un mois</option>
                        <option value="3">Un Trimstre</option>
                        <option value="4">Un Simestre</option>
                        <option value="6">Un an</option>
                        <option value="7">Plus qu'un an</option>
                        <option value="0" selected data-display="Période">Autre</option>
                    </select>
                    <select name="survey-sendType">
                        <option value="1">Email</option>
                        <option value="2">Sms</option>
                        <option value="3">Appel téléphonique</option>
                        <option value="4">Tablette</option>
                        <option value="5">Integration sur un site web</option>
                        <option value="0" selected data-display="Méthode d'envoi">Autre</option>
                    </select>
                </div>
                <textarea required rows="8"  class="input-standard-grey" name="description" placeholder="Déscription"></textarea>
                <div class="login-btn-wrap">
                    <button class="btn btn-medium btn--dark btn-hover-shadow">
                        <span class="text">Envoyer</span>
                        <span class="semicircle"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>

<!-- ... End Right-menu -->

<div class="container-full-width content-wrapper">
    <?= $this->content ?>
    <!-- Subscribe Form -->

    <div class="container-fluid bg-green-color">
        <div class="row">
            <div class="container">

                <div class="row">

                    <div class="subscribe scrollme">

                        <div class="col-lg-6 col-lg-offset-5 col-md-6 col-md-offset-5 col-sm-12 col-xs-12">
                            <h4 class="subscribe-title">Email Newsletters!</h4>
                            <form class="subscribe-form" method="post" action="/newsletter">
                                <input class="email input-standard-grey input-white" name="email" required="required" placeholder="votre.email@exemple.com" type="email">
                                <button class="subscr-btn">S'inscrire
                                    <span class="semicircle--right"></span>
                                </button>
                            </form>
                            <div class="sub-title">Inscrivez-vous pour les nouveaux contenus, les mises à jour, les enquêtes et les offres de IT-PROSPECT.</div>

                        </div>

                        <div class="images-block">
                            <img src="img/subscr-gear.png" alt="gear" class="gear">
                            <img src="img/subscr1.png" alt="mail" class="mail">
                            <img src="img/subscr-mailopen.png" alt="mail" class="mail-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="info">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="heading">
                        <h3 class="heading-title">Qui sommes-nous ?</h3>
                        <div class="heading-line">
                            <span class="short-line"></span>
                            <span class="long-line"></span>
                        </div>
                        <p class="heading-text">
                            IT-PROSPECT est une société spécialisée dans la conception, le développemet et la commercialisation des logiciels afin d'aider au bon fonctionnement des entreprises de tous bords.
                            <BR/>Nous livrons des solutions clés en main et assurons des produits et services sans reproches.La gamme de produits comprend notamment des progiciels et solutions taillées sur mesure pour les petites et moyennes entreprises.
                            <BR/>Nous avons aussi développé des solutions qui encadrent les coeurs de métier de grandes entreprises, notamment la gestion des retours client et la mesure de la satisfation client.
                            <BR/>Jeune et dynamique, notre équipe est constituée d'experts en informatique, en statistiques et relation clientèle. Excellent mélange entre le monde de la technologie de l’information et les secteurs qui nécessitent un contact client direct en continu.
                            <BR/>Dans un monde toujours plus connecté, IT-Prospect allie les sciences des données pour rendre vos données vivantes et inspirantes.
                        </p>
                    </div>

                    <div class="socials">
                        <a href="#" class="social__item">
                            <img src="svg/circle-facebook.svg" alt="facebook">
                        </a>
                        <a href="#" class="social__item">
                            <img src="svg/twitter.svg" alt="twitter">
                        </a>
                        <a href="#" class="social__item">
                            <img src="svg/google.svg" alt="google">
                        </a>
                        <a href="#" class="social__item">
                            <img src="svg/youtube.svg" alt="youtube">
                        </a>
                        <a href="#" class="social__item">
                            <img src="svg/rss.svg" alt="rss">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-12 col-xs-12">
                    <div class="services">
                        <div class="heading">
                            <h3 class="heading-title">Services Offerts</h3>
                            <div class="heading-line">
                                <span class="short-line"></span>
                                <span class="long-line"></span>
                            </div>
                        </div>

                        <ul class="list list--primary">
                            <li>
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                <a href="/statflow">Feed Back Management</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                <a href="javascript:;">Enquête en ligne</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                <a href="javascript:;">Développement Web</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                <a href="javascript:;">Développement Mobile</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                <a href="javascript:;">Développement Jeux</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                <a href="javascript:;">Data Mining</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                <a href="javascript:;">Formation Agile</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                <a href="javascript:;">Formation PHP (Symfony & Zend)</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                <a href="javascript:;">Formation Statistique</a>
                            </li>
                            <li>
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                <a href="javascript:;">Conseil Marketing Digital</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="contacts">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="contacts-item">
                        <div class="icon js-animate-icon">
                            <svg enable-background="new 0 0 64 64" version="1.1" viewBox="0 0 64 64" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="  M45.1,44.2C42.9,42,39.6,40,37,42.6c-1.8,1.8-2.6,3.9-2.6,3.9s-4.3,2.3-11.7-5.2s-5.2-11.7-5.2-11.7s2.1-0.8,3.9-2.6  c2.6-2.6,0.6-5.9-1.7-8.1c-2.7-2.7-6.2-4.9-8.2-2.9c-3.7,3.7-4.4,8.4-4.4,8.4S9,35.5,18.7,45.3s20.9,11.6,20.9,11.6s4.7-0.7,8.4-4.4  C50,50.4,47.8,46.9,45.1,44.2z" fill="none" stroke="#fcb03b" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/><path d="  M18.4,12.2C22.2,9.5,26.9,8,32,8c13.3,0,24,10.8,24,24c0,4-1.3,9-4.4,12.2" fill="none" stroke="#fcb03b" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/><path d="  M27.3,55.6c-9.8-1.9-17.5-9.8-19.1-19.7" fill="none" stroke="#fcb03b" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/><path d="  M30,21c0,0,4.4,0,5.2,0c1.2,0,1.8,0.2,1.8,1.1s0,0.7,0,1.3c0,0.6,0,1.4-1.6,2.5c-2.3,1.6-5.6,3.8-5.6,5.1c0,1.6,0.7,2,1.8,2  s5.3,0,5.3,0" fill="none" stroke="#fcb03b" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/><path d="  M40,21c0,0,0,2.8,0,3.8S39.9,27,41.5,27c1.6,0,4.5,0,4.5,0v-6.1V33" fill="none" stroke="#fcb03b" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/></svg>
                        </div>
                        <div class="content">
                            <a href="javascript:;" class="title">(+216) 27 66 76 66</a><BR />
                            <a href="javascript:;" class="title">(+216) 29 57 61 48</a>
                            <p class="sub-title">Lundi-Vendredi 9h-18h</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="contacts-item">
                        <div class="icon js-animate-icon">
                            <svg enable-background="new 0 0 64 64" version="1.1" viewBox="0 0 64 64" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><polyline fill="none" points="  54,17 32,36 10,17 " stroke="#f15b26" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/><line fill="none" stroke="#f15b26" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" x1="10.9" x2="26" y1="48" y2="36"/><path d="  M32.7,49H13c-2.2,0-4-1.8-4-4V19c0-2.2,1.8-4,4-4h38c2.2,0,4,1.8,4,4v15.5" fill="none" stroke="#f15b26" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/><circle cx="44.9" cy="43.1" fill="none" r="10.1" stroke="#f15b26" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/><path d="  M44,41.4c0,0-1.3,3.4-0.9,5.1c0.4,1.7,2.6,2.1,3.7,1.1" fill="none" stroke="#f15b26" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/><g><circle cx="45.4" cy="38.3" fill="#DCE9EE" r="0.9"/><path d="M45.4,37.3c-0.5,0-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9s0.9-0.4,0.9-0.9C46.4,37.8,46,37.3,45.4,37.3   L45.4,37.3z" fill="#f15b26"/></g></svg>
                        </div>
                        <div class="content">
                            <a href="javascript:;" class="title">contact@it-prospect.com</a><BR />
                            <a href="javascript:;" class="title">support@it-prospect.com</a>
                            <p class="sub-title">Support en ligne</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="contacts-item">
                        <div class="icon js-animate-icon">
                            <svg enable-background="new 0 0 64 64" version="1.1" viewBox="0 0 64 64" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><polygon fill="none" points="  38.7,36.4 56,32 38.7,27.6 42,22 36.4,25.3 32,8 27.6,25.3 22,22 25.3,27.6 8,32 25.3,36.4 22,42 27.6,38.7 32,56 36.4,38.7 42,42   " stroke="#3cb878" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"></polygon><circle cx="32" cy="32" fill="none" r="4" stroke="#3cb878" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"></circle><path d="  M26.1,53.2c-7.9-2.2-13.9-8.6-15.6-16.7" fill="none" stroke="#3cb878" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"></path><path d="  M53.5,36.9c-1.8,8.1-8.2,14.6-16.3,16.5" fill="none" stroke="#3cb878" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"></path><path d="  M36.9,10.5c8.2,1.9,14.7,8.3,16.6,16.6" fill="none" stroke="#3cb878" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"></path><path d="  M10.5,27.1c1.9-8.2,8.3-14.6,16.4-16.5" fill="none" stroke="#3cb878" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"></path></svg>
                        </div>
                        <div class="content">
                            <a href="javascript:;" class="title">Tunis, Tunisie</a>
                            <p class="sub-title">31 Rés. el habib Av du Lac mälaren, les berges du Lac 1053</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div style="text-align: center;">
                    <span>
                        Copyright © <?= date('Y')?> <a href="/" class="sub-footer__link">IT PROSPECT,</a>
                    </span>
                    <a class="back-to-top" href="#">
                        <svg class="back-to-top">
                            <use xlink:href="#to-top"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

</footer>

<!-- End Footer -->
<svg style="display:none;">
    <symbol id="to-top" viewBox="0 0 32 32">
        <path d="M17,22 L25.0005601,22 C27.7616745,22 30,19.7558048 30,17 C30,14.9035809 28.7132907,13.1085075 26.8828633,12.3655101
         L26.8828633,12.3655101 C26.3600217,9.87224935 24.1486546,8 21.5,8 C20.6371017,8 19.8206159,8.19871575 19.0938083,8.55288165
         C17.8911816,6.43144875 15.6127573,5 13,5 C9.13400656,5 6,8.13400656 6,12 C6,12.1381509 6.00400207,12.275367 6.01189661,12.4115388
          L6.01189661,12.4115388 C4.23965876,13.1816085 3,14.9491311 3,17 C3,19.7614237 5.23249418,22 7.99943992,22 L16,22 L16,16 L12.75,19.25
           L12,18.5 L16.5,14 L21,18.5 L20.25,19.25 L17,16 L17,22 L17,22 Z M16,22 L16,27 L17,27 L17,22 L16,22 L16,22 Z" id="cloud-upload"></path>
    </symbol>

</svg>
<!-- JS Script -->

<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/crum-mega-menu.js"></script>
<script src="js/swiper.jquery.min.js"></script>

<script src="js/theme-plugins.js"></script>
<script src="js/main.js"></script>

<script src="js/ScrollMagic.min.js"></script>
<script src="js/velocity.min.js"></script>
<script src="js/ScrollMagic.min.js"></script>
<script src="js/animation.velocity.min.js"></script>
<script src="js/form-actions.js"></script>

<!-- ...end JS Script -->

</body>

<!-- Mirrored from cdn1.crumina.net/html-seosight/36_slider-with-photo.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 18 Aug 2017 12:45:18 GMT -->
</html>