<!-- Stunning header -->
<div class="stunning-header stunning-header-bg-gray stunning-header-custom">
    <div class="stunning-header-content">
        <h1 class="stunning-header-title">Informations des contacts</h1>
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="/">Accueil</a>
                <i class="seoicon-right-arrow"></i>
            </li>
            <li class="breadcrumbs-item active">
                <span href="javascript:;">Contacts</span>
                <i class="seoicon-right-arrow"></i>
            </li>
        </ul>
    </div>
</div>

<!-- Contacts -->

<div class="container-fluid">
    <div class="row medium-padding80 bg-border-color contacts-shadow">
        <div class="container">
            <div class="row">
                <div class="contacts">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="contacts-item">
                            <img src="img/contact7.png" alt="phone">
                            <div class="content">
                                <a href="javascript:;" class="title">Tunis, Tunisie</a>
                                <p class="sub-title">31 Rés. el habib Av du Lac mälaren, les berges du Lac 1053</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="contacts-item">
                            <img src="img/contact8.png" alt="phone">
                            <div class="content">
                                <a href="javascript:;" class="title">contact@it-prospect.com</a><BR />
                                <a href="javascript:;" class="title">support@it-prospect.com</a>
                                <p class="sub-title">Support en ligne</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="contacts-item">
                            <img src="img/contact9.png" alt="phone">
                            <div class="content">
                                <a href="javascript:;" class="title">(+216) 27 66 76 66</a><BR />
                                <a href="javascript:;" class="title">(+216) 29 57 61 48</a>
                                <p class="sub-title">Lundi-Vendredi 9h-18h</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Contacts -->

<!-- Google map -->

<div class="section">
    <div id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3193.2098675116536!2d10.2376927149229!3d36.83744954535192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd353f5d8cef1d%3A0x9d90a026395b5704!2sR%C3%A9sidence+El+Habib%2C+Lac+Mal%C3%A4ren%2C+Tunis%2C+Tunisie!5e0!3m2!1sfr!2sfr!4v1506644666229" width="100%" height="620" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

</div>

<!-- End Google map -->

<!-- Contact form -->


<div class="container">
    <div class="contact-form medium-padding120">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="heading">
                    <h4 class="heading-title">Vous voulez nous dire quelque chose?</h4>
                    <div class="heading-line">
                        <span class="short-line"></span>
                        <span class="long-line"></span>
                    </div>
                    <p class="heading-text">Veuillez nous contactez en utilisant le formulaire et nous vous répondrons dans les plus brefs délais.</p>
                </div>
            </div>
        </div>

        <form class="contact-form" method="post" action="/contact-us">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input name="name" class="email input-standard-grey" placeholder="Votre Nom complet" type="text" required>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input name="phone" class="email input-standard-grey" placeholder="Votre Numéro de Téléphone" type="text">
                </div>
            </div>

            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input name="email" class="email input-standard-grey" placeholder="Votre Adresse Email" type="email" required>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input name="permalink" class="email input-standard-grey" placeholder="URL de Votre Site Web" type="text">
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <textarea name="message" class="email input-standard-grey" placeholder="Message"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="submit-block table">
                    <div class="col-lg-3 table-cell">
                        <button class="btn btn-medium btn--dark">
                            <span class="text">Envoyer Maintenant</span>
                            <span class="semicircle--right"></span>
                        </button>
                    </div>

                    <div class="col-lg-5 table-cell">
                        <div class="submit-block-text">
                            S'il vous plaît, faites-nous savoir les choses particulières à vérifier et le meilleur moment pour vous contacter par téléphone (si fourni).
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- End Contact form -->
