<div class="swiper-container main-slider main-slider-bg-photo-wrap" data-effect="fade">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="main-slider-bg-photo swiper-slide" style="background-image: url('img/slider-photo1.jpg')">
            <div class="overlay"></div>

            <div class="container full-height table">

                <div class="table-cell">

                    <div class="slider-content align-center">

                        <h1 class="slider-content-title c-white" data-swiper-parallax="-200">FEEDBACK MANAGEMENT</h1>
                        <h5 class="slider-content-text c-gray" data-swiper-parallax="-300">L’humain aura plutôt tendance à voir ce qui cloche plutôt que ce qui roule</h5>

                        <div class="main-slider-btn-wrap" data-swiper-parallax="-300">

                            <a href="/statflow" class="btn btn-medium btn--secondary btn-hover-shadow">
                                <span class="text">Voir Plus sur Notre Solution StatFlow</span>
                                <span class="semicircle"></span>
                            </a>

                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="main-slider-bg-photo swiper-slide" style="background-image: url('img/slider-photo2.jpg')">

            <div class="overlay overlay-primary"></div>

            <div class="container full-height table">

                <div class="table-cell">
                    <div class="slider-content left">

                        <h1 class="slider-content-title c-white" data-swiper-parallax="-200">
                            AUDIT ET SOLUTIONS
                        </h1>
                        <h6 class="slider-content-text c-white" data-swiper-parallax="-300">
                            Des experts vous accompagnent pour assurer <BR/>la qualité de vos applications digitales.
                        </h6>

                        <div class="main-slider-btn-wrap" data-swiper-parallax="-300">

                            <a href="#" class="btn btn-medium btn-border js-open-aside">
                                <span class="text">DEMANDER UN DEVIS</span>
                                <span class="semicircle"></span>
                            </a>

                            <a href="/services" class="btn btn-medium">
                                <span class="text">Voir PLUS sur Nos SERVICES</span>
                                <i class="seoicon-right-arrow"></i>
                            </a>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="main-slider-bg-photo swiper-slide" style="background-image: url('img/slider-photo3.jpg')">

            <div class="overlay overlay-red"></div>

            <div class="container full-height table">

                <div class="table-cell">

                    <div class="slider-content align-center">

                        <h1 class="slider-content-title c-white" data-swiper-parallax="-200">SATISFACTION CLIENTS
                        </h1>

                        <h5 class="slider-content-text c-white" data-swiper-parallax="-300">
                            La qualité est perceptible, la satisfaction est mesurable
                        </h5>

                        <div class="main-slider-btn-wrap" data-swiper-parallax="-300">

                            <a href="/statflow" class="btn btn-medium btn--dark">
                                <span class="text">Voir Plus</span>
                                <span class="semicircle"></span>
                            </a>

                            <a href="#" class="btn btn-medium btn-border js-open-aside">
                                <span class="text">Démarrer Avec StatFlow</span>
                            </a>

                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="main-slider-bg-photo swiper-slide" style="background-image: url('img/slider-photo4.jpg')">

            <div class="overlay overlay-orange"></div>

            <div class="container full-height table">

                <div class="table-cell">

                    <div class="slider-content right table-cell">

                        <h1 class="slider-content-title c-white" data-swiper-parallax="-200">SUIVI CONTINU</h1>
                        <h6 class="slider-content-text c-white" data-swiper-parallax="-300">
                            En quelques clics vous pouvez avoir accès à toutes les informations concernant votre business.
                        </h6>

                        <div class="main-slider-btn-wrap" data-swiper-parallax="-300">

                            <a href="/statflow" class="btn btn-medium btn-border">
                                <span class="text">Voir Plus</span>
                                <span class="semicircle"></span>
                            </a>

                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="main-slider-bg-photo swiper-slide" style="background-image: url('img/slider-photo5.jpg')">

            <div class="overlay overlay-green"></div>


            <div class="container full-height table">

                <div class="table-cell">

                    <div class="slider-content align-center">

                        <h1 class="slider-content-title c-white" data-swiper-parallax="-200">
                            ENQUÊTES D'OPINION
                        </h1>

                        <h5 class="slider-content-text c-white" data-swiper-parallax="-300">
                            Partagez vos enquêtes sur vos sites, réseaux sociaux et recevez des résultats d’analyse sous forme de rapport                        </h5>

                        <div class="main-slider-btn-wrap" data-swiper-parallax="-300">

                            <a href="/studies" class="btn btn-medium btn-border">
                                <span class="text">Voir Plus sur Nos études</span>
                                <span class="semicircle"></span>
                            </a>

                            <a href="#" class="btn btn-medium btn--dark js-open-aside">
                                <span class="text">Demander un Devis</span>
                                <span class="semicircle"></span>
                            </a>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!--Prev next buttons-->

    <svg class="btn-next">
        <use xlink:href="#arrow-right"></use>
    </svg>

    <svg class="btn-prev">
        <use xlink:href="#arrow-left"></use>
    </svg>

    <!--Pagination tabs-->

    <div class="slider-slides slider-shadow">
        <a href="#" class="slides-item bg-dark-color slide-active">
            <div class="content">
                <div class="text-wrap">
                    <h4 class="slides-title">FeedBack Management</h4>
                </div>
                <div class="slides-number">01</div>
            </div>

            <div class="triangle-slides dark"></div>
        </a>

        <a href="#" class="slides-item bg-primary-color">
            <div class="content">
                <div class="text-wrap">
                    <h4 class="slides-title">Audit et Solutions</h4>
                </div>
                <div class="slides-number">02</div>
            </div>

            <div class="triangle-slides primary"></div>
        </a>

        <a href="#" class="slides-item bg-secondary-color">
            <div class="content">
                <div class="text-wrap">
                    <h4 class="slides-title">Satisfaction Client</h4>
                </div>
                <div class="slides-number">03</div>
            </div>

            <div class="triangle-slides secondary"></div>
        </a>

        <a href="#" class="slides-item bg-orange-color">
            <div class="content">
                <div class="text-wrap">
                    <h4 class="slides-title">Suivi Continu</h4>
                </div>
                <div class="slides-number">04</div>
            </div>

            <div class="triangle-slides orange"></div>
        </a>

        <a href="#" class="slides-item bg-green-color">
            <div class="content">
                <div class="text-wrap">
                    <h4 class="slides-title">Enquêtes d'opinion</h4>
                </div>
                <div class="slides-number">05</div>
            </div>

            <div class="triangle-slides green"></div>
        </a>
    </div>
</div>
<!-- Background-mountains -->ế
<div class="container-fluid" id="tech">
    <div class="row">
        <div class="background-mountains medium-padding120 scrollme">

            <div class="images">
                <img src="img/mountain1.png" alt="mountain">
                <img src="img/mountain2.png" alt="mountain">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                        <div class="heading align-center">
                            <h4 class="h1 heading-title">Des études personnalisées pour votre business</h4>
                            <div class="heading-line">
                                <span class="short-line"></span>
                                <span class="long-line"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box--standard-centered">
                            <div class="info-box-image">
                                <img src="img/info-box7.png" alt="image">
                            </div>
                            <div class="info-box-content">
                                <h4 class="info-box-title">Objectifs</h4>
                                <p class="text">
                                     Prendre la bonne décision.<BR/>
                                     Développer et faire évoluer votre business.<BR/>
                                     Booster votre chiffre d'affaire.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box--standard-centered">
                            <div class="info-box-image">
                                <img src="img/info-box8.png" alt="image">
                            </div>
                            <div class="info-box-content">
                                <h4 class="info-box-title">STRATÉGIES</h4>
                                <p class="text">
                                    Ecouter vos clients/collaborateurs<BR/>
                                    Prospecter de nouveaux clients<BR/>
                                    Traiter vos clients mécontents<BR/>
                                    Fidéliser vos clients
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box--standard-centered">
                            <div class="info-box-image">
                                <img src="img/info-box9.png" alt="image">
                            </div>
                            <div class="info-box-content">
                                <h4 class="info-box-title">Technologies</h4>
                                <p class="text">
                                    Tableaux de bord paramétrables<BR/>
                                    Indexation des données<BR/>
                                    Solution Cloud<BR/>
                                    Reporting
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box--standard-centered">
                            <div class="info-box-image">
                                <img src="img/info-box10.png" alt="image">
                            </div>
                            <div class="info-box-content">
                                <h4 class="info-box-title">ANALYTIQUES</h4>
                                <p class="text">
                                    Automatiser les théories de satisfaction client<BR/>
                                    Collecte des données <BR/>
                                    Analyse statistiques

                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row align-center">
                    <div class="btn-block">
                        <a href="/studies" class="btn btn-medium btn--dark">
                            <span class="text">Plus d'infos sur nos études</span>
                            <span class="semicircle"></span>
                        </a>
                        <a href="#" class="btn btn-medium btn--secondary btn-hover-shadow js-open-aside">
                            <span class="text">Demander un devis</span>
                            <span class="semicircle"></span>
                        </a>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
<!-- End Background-mountains -->
<!-- Offers -->
<div class="container">
    <div class="row medium-padding120">
        <div class="col-lg-12">
            <div class="offers">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="heading">
                            <h4 class="h1 heading-title">Nous vous offrons une gamme complète des services digitales!</h4>
                            <div class="heading-line">
                                <span class="short-line"></span>
                                <span class="long-line"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                        <ul class="list list--secondary">
                            <li>
                                <i class="seoicon-check"></i>
                                <a href="javascript:;">Une solution sophistiquée de satisfaction client</a>
                            </li>
                            <li>
                                <i class="seoicon-check"></i>
                                <a href="javascript:;">Une solution de collecte des données</a>
                            </li>
                            <li>
                                <i class="seoicon-check"></i>
                                <a href="javascript:;">Des modèles statistiques modernes vous aident à la décision.</a>
                            </li>
                            <li>
                                <i class="seoicon-check"></i>
                                <a href="javascript:;">Des experts techniques garantissent la qualité de vos projets digitals</a>
                            </li>
                            <li>
                                <i class="seoicon-check"></i>
                                <a href="javascript:;">Des formateurs et des conseillers vous accompagnent pour monter en compétences vos équipes et imaginer le meilleur chemin de succès</a>
                            </li>
                        </ul>

                        <a href="/services" class="btn btn-medium btn--dark">
                            <span class="text">Voir Plus Sur Nos Services</span>
                            <span class="semicircle"></span>
                        </a>

                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="offers-thumb">
                            <img src="img/video2.png" alt="offers">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ... End Offers -->
<!-- Clients -->

<div class="section" id="client">
    <div class="client-carousel medium-padding120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                    <div class="heading align-center">
                        <h4 class="h1 heading-title">Nos clients précieux</h4>
                        <div class="heading-line">
                            <span class="short-line"></span>
                            <span class="long-line"></span>
                        </div>
                        <p class="heading-text">Ils nous font confiance. </p>
                    </div>
                </div>
            </div>

            <div class="theme-module clients-slider-module">

                <div class="swiper-container pagination-bottom" data-show-items="4">

                    <div class="swiper-wrapper">

                        <div class="swiper-slide client-item" style="text-align: center">
                            <a href="#" class="client-image">
                                <img src="img/papajohns.png" alt="logo-papaJohns" class="hover">
                            </a>
                        </div>

                        <div class="swiper-slide client-item" style="text-align: center">
                            <a href="#" class="client-image">
                                <img src="img/baguette.png" alt="logo-baguette" class="hover">
                            </a>
                        </div>
                        <div class="swiper-slide client-item" style="text-align: center">
                            <a href="#" class="client-image">
                                <img src="img/foodz.png" alt="logo-Foodz" class="hover">
                            </a>
                        </div>
                        <div class="swiper-slide client-item" style="text-align: center">
                            <a href="#" class="client-image">
                                <img style="height:160px" src="img/logo-fruity.png" alt="logo-Fruity-Box" class="hover">
                            </a>
                        </div>
                    </div>

                    <!--Prev Next Arrows-->
                    <svg class="btn-next">
                        <use xlink:href="#arrow-right"></use>
                    </svg>

                    <svg class="btn-prev">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Clients -->