<!-- Stunning Header -->

<div class="stunning-header stunning-header-bg-gray stunning-header-custom">
    <div class="stunning-header-content">
        <h1 class="stunning-header-title">Secteurs d'Expertise</h1>
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="/">Accueil</a>
                <i class="seoicon-right-arrow"></i>
            </li>
            <li class="breadcrumbs-item active">
                <span href="javascript:;">Secteurs</span>
                <i class="seoicon-right-arrow"></i>
            </li>
        </ul>
    </div>
</div>

<!-- End Stunning Header -->

<!-- Services Items -->

<div class="container-fluid" style="background: #f7f9f9">
    <div class="row medium-padding120 bg-border-color">
        <div class="container">
            <div class="row mb60">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="info-box--standard-bg">
                <div class="info-box-content">
                    <h4 class="info-box-title">Fashion</h4>
                    <p class="text">
                        Nos technologies innovantes vous permettent d’améliorer votre vision sur les goûts vestimentaires des clients et/ou pour une région donnée et aussi vos services.
                    </p>
                    <div class="info-box-image">
                        <img src="img/garment.png" alt="image">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="info-box--standard-bg">
                <div class="info-box-content">
                    <h4 class="info-box-title">Automobile</h4>
                    <p class="text">
                        Nos services existent pour améliorer vos services après-vente, unifier les sources de réclamations en mettant en œuvre une solution pour réduire le taux de retour.
                    </p>

                    <div class="info-box-image">
                        <img src="img/car.png" alt="image">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="info-box--standard-bg">
                <div class="info-box-content">
                    <h4 class="info-box-title">Banque/Assurance</h4>
                    <p class="text">
                        Nos solutions repensent la gouvernance sous un prisme multicanal tourné vers l’innovation et intégrant la gestion de la donnée dans les processus de réflexion.
                    </p>
                    <div class="info-box-image">
                        <img src="img/bank.png" alt="image">
                    </div>
                </div>
            </div>
        </div>

    </div>
        </div>
        <div class="container">
            <div class="row mb60">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="info-box--standard-bg">
                        <div class="info-box-content">
                            <h4 class="info-box-title">HÔTELLERIE ET RESTAURATION</h4>
                            <p class="text">
                                Nous proposons de digitaliser les fiches clients pour les traiter plus efficacement, améliorer le service et prendre les bonnes décisions.
                            </p>

                            <div class="info-box-image">
                                <img src="img/hotel.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="info-box--standard-bg">
                        <div class="info-box-content">
                            <h4 class="info-box-title">Société/Association</h4>
                            <p class="text">
                                Notre équipe vous accompagne pour monter vos applications digitales.
                                <BR/>Nos enquêtes vous permettent de comprendre et d’enrichir le relationnel avec les employés.
                            </p>

                            <div class="info-box-image">
                                <img src="img/teamwork.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="info-box--standard-bg">
                        <div class="info-box-content">
                            <h4 class="info-box-title">Supermarché</h4>
                            <p class="text">
                                En analysant vos données on pourra vous guider à prendre les bonnes décisions.
                                <BR /> Nos enquêtes vous permettent de bien connaître votre business et acquérir de nouveaux prescripteurs.
                            </p>

                            <div class="info-box-image">
                                <img src="img/market.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row mb60">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="info-box--standard-bg">
                        <div class="info-box-content">
                            <h4 class="info-box-title">Santé</h4>
                            <p class="text">
                                Nous mettons en œuvre notre savoir-faire sur le dossier patient informatisé et les analyses des données médicales.
                            </p>
                            <div class="info-box-image">
                                <img src="img/first-aid-kit.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="info-box--standard-bg">
                        <div class="info-box-content">
                            <h4 class="info-box-title">Education</h4>
                            <p class="text">
                                Avec nos services, enrichissez l'enseignement et observez le progrès des élèves/étudiants, osez et démarrez une conversation enseignant-élève.
                            </p>

                            <div class="info-box-image">
                                <img src="img/ereader.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="info-box--standard-bg">
                        <div class="info-box-content">
                            <h4 class="info-box-title">TV/Radio/La presse</h4>
                            <p class="text">
                                Avec nos sondages en lignes vous pouvez connaître la popularité de vos programmes/articles et le taux d’audience.
                            </p>

                            <div class="info-box-image">
                                <img src="img/television.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</div>
</div>

<!-- End Services Items -->