<!-- Stunning Header -->

<div class="stunning-header stunning-header-bg-gray stunning-header-custom">
    <div class="stunning-header-content">
        <h1 class="stunning-header-title">Une gamme complète des services digitals</h1>
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="/">Accueil</a>
                <i class="seoicon-right-arrow"></i>
            </li>
            <li class="breadcrumbs-item active">
                <span href="javascript:;">Nos Services</span>
                <i class="seoicon-right-arrow"></i>
            </li>
        </ul>
    </div>
</div>

<!-- End Stunning Header -->
<!-- Info Box -->

<div class="container pt100 pb100">
    <div class="row mb60">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="info-box--standard">
                <div class="info-box-image">
                    <img src="img/feedback.png" alt="image">
                </div>
                <div class="info-box-content">
                    <h4 class="info-box-title text-t-none">Feedback Management</h4>
                    <p class="text">
                        Notre solution de pilotage de satisfaction client et d’aide à la décision <a href="/statflow"><u>StatFlow</u></a> va révolutionner le développement de votre entreprise.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="info-box--standard">
                <div class="info-box-image">
                    <img src="img/survey.png" alt="image">
                </div>
                <div class="info-box-content">
                    <h4 class="info-box-title text-t-none">Sondage en ligne</h4>
                    <p class="text">
                        Nos experts en statistiques facilitent pour vous la Collecte et l’analyse des données à partir d’une enquête publiée sur votre site, réseaux sociaux etc.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb60">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="info-box--standard">
                <div class="info-box-image">
                    <img src="img/tools-and-utensils.png" alt="image">
                </div>
                <div class="info-box-content">
                    <h4 class="info-box-title text-t-none">Développement Web</h4>
                    <p class="text">
                        Notre équipe de développement Web est là pour vous garantir un service de qualité et vous aidera à prendre les bonnes décisions pour mener à bien vos projets Web.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="info-box--standard">
                <div class="info-box-image">
                    <img src="img/smartphone.png" alt="image">
                </div>
                <div class="info-box-content">
                    <h4 class="info-box-title text-t-none">Développement Mobile</h4>
                    <p class="text">
                        Notre équipe rigoureuse vous garantit des applications mobiles innovantes et qui répondent à vos spécifications.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb60">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="info-box--standard">
                <div class="info-box-image">
                    <img src="img/gamepad.png" alt="image">
                </div>
                <div class="info-box-content">
                    <h4 class="info-box-title text-t-none">Développement Jeux Video</h4>
                    <p class="text">
                        Notre connaissance dans le domaine des jeux vidéo et toutes les nouvelles technologies qui l’entourent vous garantissent des jeux, applications mobiles et services 3D de haut niveau.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="info-box--standard">
                <div class="info-box-image">
                    <img src="img/datamining.png" alt="image">
                </div>
                <div class="info-box-content">
                    <h4 class="info-box-title text-t-none">Data Mining</h4>
                    <p class="text">
                        Nos experts en statistiques développent vos données pour en ressortir tous les indicateurs disponibles pour améliorer la prise de vos décisions.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="info-box--standard">
                <div class="info-box-image">
                    <img src="img/presentation.png" alt="image">
                </div>
                <div class="info-box-content">
                    <h4 class="info-box-title text-t-none">Formations diverses</h4>
                    <p class="text">
                        Nos experts diplômés des grandes écoles sont à votre disposition pour monter en compétences vos équipes en statistiques, développement web/mobile, réseaux et Agile.                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="info-box--standard">
                <div class="info-box-image">
                    <img src="img/conseil.png" alt="image">
                </div>
                <div class="info-box-content">
                    <h4 class="info-box-title text-t-none">Conseil Marketing</h4>
                    <p class="text">
                        Avec nos conseillers nous vous proposons des conseils marketing pour améliorer votre vision sur le marché.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- End Info Box -->