
<div class="stunning-header stunning-header-bg-gray stunning-header-custom">
    <div class="stunning-header-content">
        <h1 class="stunning-header-title">StatFlow</h1>
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="/">Accueil</a>
                <i class="seoicon-right-arrow"></i>
            </li>
            <li class="breadcrumbs-item active">
                <span href="#">Projet detaillé</span>
                <i class="seoicon-right-arrow"></i>
            </li>
        </ul>
    </div>
</div>

<!-- End Stunning header -->

<!-- Product description -->
<div class="container">
    <div class="row medium-padding120 bg-border-color">
        <div class="container">
            <div class="row">
                <div style="margin:auto; width: 50%">
                    <img src="img/logoStatFlow.png" alt="StatFlow" />
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <h5 class="mb30"> est une solution de pilotage de satisfaction client, intuitive et innovante en mode
                        SAAS, c'est une solution d'aide à la décision :
                    </h5>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <ul class="list list--secondary">
                        <li>
                            <i class="seoicon-check"></i>
                            <a href="javascript:;">Recueil multicanal et multilingue</a>
                        </li>
                        <li>
                            <i class="seoicon-check"></i>
                            <a href="javascript:;">Des feedbacks clients et des feedbacks collaborateurs</a>
                        </li>
                        <li>
                            <i class="seoicon-check"></i>
                            <a href="javascript:;">Le feedback pour nos clients et collaborateurs se fait à travers les mails et les sms</a>
                        </li>
                        <li>
                            <i class="seoicon-check"></i>
                            <a href="javascript:;">Le client peut faire un suivi en temps réel des réponses venantes des répondants en se connectant à l’application sur PC, téléphone mobile ou tablette</a>
                        </li>
                        <li>
                            <i class="seoicon-check"></i>
                            <a href="javascript:;">Présente plusieurs modules différents d’analyse</a>
                        </li>
                        <li>
                            <i class="seoicon-check"></i>
                            <a href="javascript:;">Dispositif flexible et facilement interfaçable avec votre CRM</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <ul class="list list--secondary">
                        <li>
                            <i class="seoicon-check"></i>
                            <a href="javascript:;">Permet un retour sur investissement quantifiable ainsi que la satisfaction des clients</a>
                        </li>
                        <li>
                            <i class="seoicon-check"></i>
                            <a href="javascript:;">Permet le partage collaboratif des données</a>
                        </li>
                        <li>
                            <i class="seoicon-check"></i>
                            <a href="javascript:;">Rassemblement de feedback en continu</a>
                        </li>
                        <li>
                            <i class="seoicon-check"></i>
                            <a href="javascript:;">Un questionnaire smart</a>
                        </li>
                        <li>
                            <i class="seoicon-check"></i>
                            <a href="javascript:;">Des résultats facilement partagés entre les collaborateurs</a>
                        </li>
                        <li>
                            <i class="seoicon-check"></i>
                            <a href="javascript:;">Connaître l’entreprise/business sur le bout des doigts</a>
                        </li>
                        <li>
                            <i class="seoicon-check"></i>
                            <a href="javascript:;">Assurer la réactivité de vos équipes par rapport aux problèmes rencontrés</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pie charts -->

<div class="container-fluid" style="background-color: #f7f9f9;">
    <div class="container">
        <div class="row pt80 mb30">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="heading heading align-center">
                    <h4 class="h1 heading-title">Enjeux</h4>
                    <div class="heading-line">
                        <span class="short-line"></span>
                        <span class="long-line"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb60">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="pie-chart-item">
                    <div class="pie-chart" data-value="0.05" data-start-color="#ff0000" data-end-color="#ff0000">
                        <div class="content"><span>0</span>%</div>
                    </div>

                    <div class="pie-chart-content">
                        <p class="pie-chart-content-text">des clients mécontents se manifestent spontanément auprès des entreprises en exprimant une réclamation.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="pie-chart-item">
                    <div class="pie-chart"  data-value="0.91" data-start-color="#462A59" data-end-color="#462A59">
                        <div class="content"><span>0</span>%</div>
                    </div>
                    <div class="pie-chart-content">
                        <p class="pie-chart-content-text">des clients insatisfaits et qui ne se plaignent pas, partent simplement.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb60">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="pie-chart-item">
                    <div class="pie-chart" data-value="0.66" data-start-color="#302c2d" data-end-color="#302c2d">
                        <div class="content"><span>0</span>%</div>
                    </div>

                    <div class="pie-chart-content">
                        <p class="pie-chart-content-text">des consommateurs qui ont changé de marques l'ont fait en raison d'un mauvais service.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="pie-chart-item">
                    <div class="pie-chart"  data-value="0.55" data-start-color="#fcb03b" data-end-color="#fcb03b">
                        <div class="content"><span>0</span>%</div>
                    </div>
                    <div class="pie-chart-content">
                        <p class="pie-chart-content-text">des consommateurs sont prêts à payer d'avantage pour une bonne expérience garantie.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb60">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="pie-chart-item">
                    <div class="pie-chart" data-value="0.92" data-start-color="#83ba3b" data-end-color="#83ba3b">
                        <div class="content"><span>0</span>%</div>
                    </div>

                    <div class="pie-chart-content">
                        <p class="pie-chart-content-text">des clients affirment qu’une mauvaise expérience avec une marque compromet leur fidélité.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="pie-chart-item">
                    <div class="pie-chart"  data-value="0.67" data-start-color="#f15b26" data-end-color="#f15b26">
                        <div class="content"><span>0</span>%</div>
                    </div>
                    <div class="pie-chart-content">
                        <p class="pie-chart-content-text">des clients qui parlent mal de votre entreprise est évitable si le le problème du client a été résolu lors du premier engagement..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container medium-padding80">
    <div class="row pt80 mb30">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="heading heading align-center">
                <h4 class="h1 heading-title">Les Fonctionnalités Principales</h4>
                <div class="heading-line">
                    <span class="short-line"></span>
                    <span class="long-line"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="info-box--standard" data-mh="info-boxes">
                <div class="info-box-content">
                    <div align="center"> <img src="img/check/1.png"><br><br>
                        <p class="text">
                            Questionnaires programables
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="info-box--standard" data-mh="info-boxes">
                <div class="info-box-content">
                    <div align="center"> <img src="img/check/2.png"><br><br>
                        <p class="text">
                            Gestion des flux d'information entrants et sortants
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="info-box--standard" data-mh="info-boxes">

                <div class="info-box-content">
                    <div align="center"> <img src="img/check/3.png"><br><br>
                        <p class="text"> Collecte d’information via (e-mail,SMS,tablettes etc ...) </p>
                    </div></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="info-box--standard" data-mh="info-boxes">
                <div class="info-box-content">
                    <div align="center"> <img src="img/check/4.png"><br><br>
                        <p class="text"> Traiter et transformer vos clients mécontents en clients satisfaits
                        </p>
                    </div></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="info-box--standard" data-mh="info-boxes">
                <div class="info-box-content">
                    <div align="center"> <img src="img/check/5.png"><br><br>
                        <p class="text"> Gestion multi-utilisateurs et multilingue
                        </p>
                    </div></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="info-box--standard" data-mh="info-boxes">
                <div class="info-box-content">
                    <div align="center"> <img src="img/check/6.png"><br><br>
                        <p class="text">Des rapports animés et personnalisables</p>
                    </div></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
            <div class="info-box--standard" data-mh="info-boxes">
                <div class="info-box-content">
                    <div align="center"> <img src="img/check/7.png"><br><br>
                        <p class="text">Elaboration de votre programme de Customer Expérience Management</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row pt80 pb80 bg-boxed-blue">
        <div class="container">
            <div class="row">

                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 table-cell">

                    <div class="heading">
                        <h4 class="h1 heading-title c-white no-margin">Parlez-nous de votre projet!</h4>
                        <p class="heading-text c-white no-margin">
                            N'hésitez pas de nous envoyer un devis, vous allez recevoir tous les détails des prix et vous allez bénéficier d'une période d'essai gratuite sans engagement!
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 table-cell">
                    <a href="#" class="btn btn-medium btn--dark btn-hover-shadow js-open-aside">
                        <span class="text">J'envoie un devis</span>
                        <span class="semicircle"></span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container mb60">
    <div class="row pt80 mb30">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="heading heading align-center">
                <h4 class="h1 heading-title">Les bénéfices de StatFlow</h4>
                <div class="heading-line">
                    <span class="short-line"></span>
                    <span class="long-line"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="case-item-wrap">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="case-item">
                <ul class="list list--secondary">
                    <li>
                        <i class="seoicon-play"></i>
                        <a href="#">Conquérir de nouveaux clients grâce à un bouche à oreille positif.</a>
                    </li>
                    <li>
                        <i class="seoicon-play"></i>
                        <a href="#">Accroître la fidélité et les promoteurs de votre marque.</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12">
            <div class="case-item1">
                <ul class="list list--secondary">
                    <li>
                        <i class="seoicon-play"></i>
                        <a href="#">Développer les ventes sur vos clients actuels.</a>
                    </li>
                    <li>
                        <i class="seoicon-play"></i>
                        <a href="#">Prendre des décisions d’amélioration à partir des données récoltées des questionnaires.</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12">
            <div class="case-item2">
                <ul class="list list--secondary">
                    <li>
                        <i class="seoicon-play"></i>
                        <a href="#">Affiner la relation entre l'entreprise et le client/consommateur.</a>
                    </li>
                    <li>
                        <i class="seoicon-play"></i>
                        <a href="#">Faire évoluer votre business et booster votre chiffre d'affaire.</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
