<!-- Stunning Header -->

<div class="stunning-header stunning-header-bg-gray stunning-header-custom">
    <div class="stunning-header-content">
        <h1 class="stunning-header-title">Niveaux des études inégalés</h1>
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="/">Accueil</a>
                <i class="seoicon-right-arrow"></i>
            </li>
            <li class="breadcrumbs-item active">
                <span href="javascript:;">Études</span>
                <i class="seoicon-right-arrow"></i>
            </li>
        </ul>
    </div>
</div>

<!-- End Stunning Header -->
<!-- Info Box -->

<div class="container pt100 pb100">
    <div class="row mb30">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="info-box--modern">
                <div class="info-box-image">
                    <img src="img/etudCostumer.png" alt="image">
                </div>
                <div class="info-box-content">
                    <h5 class="info-box-title">Étude sur Votre Expérience client</h5>
                    <p class="text">L’expérience client est évidemment considérée comme une source d’influence de la satisfaction et de la fidélisation, son étude se fait avec notre solution innovante en mode SaaS <a href="/statflow"><u>StatFlow</u></a>.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="info-box--modern">
                <div class="info-box-image">
                    <img src="img/studyEmployee.png" alt="image">
                </div>
                <div class="info-box-content">
                    <h5 class="info-box-title">Étude sur Votre Expérience collaborateur</h5>
                    <p class="text">
                        L’expérience collaborateur désigne l’ensemble des interactions et expériences vécues par un collaborateur au sein de son entreprise.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb30">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="info-box--modern">
                <div class="info-box-image">
                    <img src="img/objectif.png" alt="image">
                </div>
                <div class="info-box-content">
                    <h5 class="info-box-title">Étude sur Votre Marché</h5>
                    <p class="text">
                        Mise en œuvre d’un ensemble de techniques de collecte et de traitements d’informations ayant pour objectif de mieux connaître un marché, dans le but de réduire l’incertitude des décisions ultérieures.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="info-box--modern">
                <div class="info-box-image">
                    <img src="img/trophy.png" alt="image">
                </div>
                <div class="info-box-content">
                    <h5 class="info-box-title">Étude sur Votre Marque</h5>
                    <p class="text">
                        Destinée à déterminer l’image d’une entreprise ou marque telle qu’elle est perçue par les consommateurs et/ou clients. L’étude d’image va permettre d’identifier les points faibles et forts de la marque et donc d’identifier les axes d’améliorations.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb60">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="info-box--modern">
                <div class="info-box-image">
                    <img src="img/analysis.png" alt="image">
                </div>
                <div class="info-box-content">
                    <h5 class="info-box-title">Étude sur Vos données</h5>
                    <p class="text">L’étude de données aide à faire ressortir les relations pouvant exister entre les différentes données et à en tirer une information statistique qui permet de décrire de façon plus succincte les principales informations contenues dans ces données.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="info-box--modern">
                <div class="info-box-image">
                    <img src="img/megaphone.png" alt="image">
                </div>
                <div class="info-box-content">
                    <h5 class="info-box-title">Étude sur Votre Offre</h5>
                    <p class="text">Permet d'identifier ses forces, ses faiblesses et d'anticiper des menaces qui pèsent sur son marché. Comprendre globalement ce qu'il les différencie de vous... du point de vue du client.
                        <BR/>Fort de ces informations vous serez en mesure de choisir des stratégies adaptées.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Info Box -->